body {
   background-color:#FF1493;
   color: #070719;
   font-family: broadway;
   font-size: 185%;
}


.container {
	width: 90%;
	margin: 100 auto;

}

.image-circle {
  border-radius:  50%;
  margin-left: 500px;
  margin-right: auto;
  margin-top:90px;
}

img {
	margin-left: 200%;
	margin-right: 450%;
	margin-top: 100px;
	width: 40%;
	height: 300px;

}

h1 {
    font-size: 350%;
    margin-top: 80px;
    text-align: center;
}

li{
	display: inline;
	text-align: center;
}


footer {
	position: absolute;
	margin-top: 100%;
	top:125%;
	height: 30px;
	width: 100%;
	color: #000000;
	text-align: center;
	font-size: 50%;

}