body {
   background-color:#FFFFFF ;
   color: #070719;
   font-family: broadway;
   font-size: 200%;
 }

   h1 {
    text-align-:center;
    font-size: 350%;
    margin-left: 200px;
    font-size: 300%;
    margin-top: 90px;
   
   }
   .container {
  width: 90%;
  font-size: 15pt;
}

  .image-circle {
  border-radius:  85%;
  margin-left: 250px;
  margin-right: 500px;
  margin-top:40px;
 }

 li{
	display: inline;
	text-align: center;
}

nav{
	font-size: 25pt;
}

footer{
	color: #000000;
	font-size: 20pt;
	text-align: center;
}