body {
   background-color:#FF00FF ;
   color: #070719;
   font-family: broadway;
 }

   
   h1 {
    text-align:left;
    font-size: 350%;
    margin-left: 600px;
    font-size: 400%;
    margin-top: 90px;
   
   }
   .container {
  width: 90%;
}

  .image-circle {
  border-radius:  85%;
  margin-left: 510px;
  margin-right: auto;
  margin-top:40px;
 }

 li{
	display: inline;
	text-align: center;
}

nav{
	font-size: 25pt;
}

footer{
	color: #000000;
	font-size: 13pt;
	text-align: right;
}