body {
   background-color:#FF1493;
   color: #070719;
   font-family: broadway;
   font-size: 200%

}

.container {
	width: 90%;
	margin: 100 auto;

}

   h1 {
    text-align-:center;
    font-size: 340%;
  	margin-left: 500px;
    font-size: 300%;
    margin-top: 90px;

}
  
.circle {
width:650px;
height:350px;
border-radius:80%;
font-size:17px;
color:#fff;
line-height: 50px;
text-align:center;
margin-top: 33px;
background:#000;
margin-right: auto;
margin-left: auto;

}

li{
	display: inline;
	text-align: center;
}

ul{
	style= list-style-type:none
}

footer {
	bottom: 0;
	height: 30px;
	width: 100%;
	color: #000000;
	text-align: center;
	font-size: 50%;

}